[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = master

[core]
	editor = vim
	pager = less

[diff]
	tool = vimdiff

[alias]
	b = branch
	
	s = status

	c = commit
	cm = commit -m

	l = log --oneline
	lg = log --oneline --graph --decorate

	m = merge

	co = checkout
	com = checkout master
	cob = checkout branch

	pso = push origin
	pom = push origin master

	r = remote
	rv = remote -v
